@model Dictionary<string, List<string>>

@{
    ViewData["Title"] = "Audit roles";
    int rowCounter = 1;
}

<header>
    <h3 class="audit-roles-heading text-center">Справка за потребители и роли</h3>
</header>
<main>
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="table-warning border-primary text-center">
                <th>№</th>
                <th>Потребител</th>
                <th>Роли</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr class="table-warning border-primary">
                    <td class="text-center">@(rowCounter++)</td>
                    <td>@user.Key</td>
                    <td>@string.Join(", ", user.Value)</td>
                </tr>
            }
        </tbody>
    </table>
</main>