@inject SignInManager<ApplicationUser> SignInManager

<ul class="navbar-nav">
    @if (User.IsInRole("Admin"))
    {
        <li class="nav-item" style="margin: 0 10px">
            <a asp-area="Admin" asp-controller="Admin" asp-action="Inbox" class="fa-regular fa-envelope fa-2xl" title="Messages" style="color:white; text-decoration: none;"></a>
        </li>
    }
    else
    {
        @if (SignInManager.IsSignedIn(User))
        {
            <li class="nav-item" style="margin: 0 10px">
                <i class="fa-regular fa-bell fa-xl" style="color: white;"></i>
            </li>
        }
    }
</ul>