@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="margin-top: 200px; margin-bottom: 200px">Добре дошли!</h1>
    <p>Migraine diary - ASP.NET project by Daniel Dianov, M.D.</p>
</div>
