@{
    ViewData["Title"] = "Terms and conditions";
}

<section>
    <article>
        <h3 class="text-center">Общи условия</h3>
        <p>1. Цели и предназначение</p>
        <p>
            Сайтът е създаден в помощ на пациентите, страдащи от мигрена и техните лекуващи невролози. Представлява онлайн инструмент
            за регистриране и хронологично проследяване на пристъпите от мигренозно главоболие, заедно с цялата ключова за диагностиката
            симптоматика по време на пристъпа. В допълнение на това са предоставени и широко използвани инструменти за оценка
            на влиянието на главоболието върху различни сфери от живота на страдащите (<i>HIT-6 скала</i>) и наличието на признаци на
            тревожност (<i>скала на Zung за тревожност</i>). Потребителите, използващи сайта в качеството си на лекари, могат да добавят
            информация за клинични проучвания, по които работят с цел по-широка информираност на страдащите от мигрена, които от своя
            страна при желание и по преценка на изпитващите могат да бъдат включени в клиничната фаза на изпитване.
        </p>
        <p>2. Права и задължения на потребителите</p>
        <span>Права:</span>
        <ul>
            <li>
                Да използват услугите на сайта.
            </li>
            <li>
                Да изискват и получават информация относно предоставените от тях лични данни.
            </li>
            <li>
                Неограничено да споделят информация относно регистрираните от тях главоболия и скали за самооценка с лекари по свое усмотрение.
            </li>
            <li>
                Да изтрият акаунта си и всички свързани с него данни.
            </li>
        </ul>
        <span>Задължения:</span>
        <ul>
            <li>Потребителите, използващи сайта в качеството на лекари, са длъжни да предоставят валидно удостоверение за членство, издадено от Български лекарски съюз (БЛС).</li>
            <li>
                Потребителите, използващи сайта в качеството на лекари се задължават да спазват лекарския етичен кодекс и да не споделят информация за здравното
                състояние на потребителите, до чиито регистрирани главоболия и скали имат достъп, без изричното съгласие от тяхна страна.
            </li>
        </ul>
        <p>
            3. С използването на сайта, потребителите декларират, че са запознати с общите условия и съгласни данните, които предоставят
            да бъдат обработвани съгласно политиката за защита на лични данни.
        </p>
    </article>
</section>

