@model HeadacheAddFormModel

@{
    ViewData["Title"] = "Регистрирай главоболие";
}

<div class="row text-center">
    <form asp-controller="Headache" asp-action="Add" asp-route-currentUserId=@ViewData["currentUserId"] method="post">
        <div class="mb-3">
            <label asp-for=Onset>Начало на главоболието:</label> <br />
            <input type="datetime-local" asp-for=Onset min="2022-01-01T00:00" max="2099-01-01T00:00" required/> <br />
            <span asp-validation-for="Onset" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <Label asp-for="EndTime">Край на главоболието:</Label> <br />
            <input type="datetime-local" asp-for="EndTime" min="2022-01-01T00:00" max="2099-01-01T00:00" required/> <br />
            <span asp-validation-for="EndTime" class="text-danger"></span>
        </div>
        <div class="mb-6">
            <label asp-for="LocalizationSide">Посочете в коя част на главата изпитвахте болка:</label> <br />
            <textarea asp-for="LocalizationSide" rows="5" cols="80" placeholder="Левостранно/десностранно/тилно/челно..."></textarea> <br />
            <span asp-validation-for="LocalizationSide" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="PainCharacteristics">Опишете характеристиката на болката:</label> <br />
            <textarea asp-for="PainCharacteristics" rows="5" cols="80" placeholder="Пулсираща/стягаща/остра/постепенно настъпваща..."></textarea> <br />
            <span asp-validation-for="PainCharacteristics" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for=Severity style="margin-right: 15px;">Посочете силата на главоболието от 0 до 10:</label>
            <select asp-for="Severity">
                @{
                    for (int i = 0; i <= 10; i++)
                    {
                        <option value="@i">@i</option>
                    }
                }
            </select> <br />
            <span asp-validation-for="Severity" class="text-danger"></span>
            <i style="color: red; font-size: 12px;">
                <span>0 - липса на болка;</span> <br />
                <span>10 - най-силната болка, която си представяте, че съществува.</span>
            </i>
        </div>
        <div class="mb-3">
            <label asp-for="Photophoby">Главоболието Ви влошаваше ли се от светлината?</label> <br />
            Да <input type="radio" asp-for="Photophoby" value="true" />
            Не <input type="radio" asp-for="Photophoby" value="false" /> <br />
            <span asp-validation-for="Photophoby" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Phonophoby">Главоболието Ви влошаваше ли се от шума?</label> <br />
            Да <input type="radio" asp-for="Phonophoby" value="true" />
            Не <input type="radio" asp-for="Phonophoby" value="false" /> <br />
            <span asp-validation-for="Phonophoby" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Nausea">Изпитвахте ли гадене?</label> <br />
            Да <input type="radio" asp-for="Nausea" value="true" />
            Не <input type="radio" asp-for="Nausea" value="false" /> <br />
            <span asp-validation-for="Nausea" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Vomiting">Имахте ли повръщане?</label> <br />
            Да <input type="radio" asp-for="Vomiting" value="true" />
            Не <input type="radio" asp-for="Vomiting" value="false" /> <br />
            <span asp-validation-for="Vomiting" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Aura">Имахте ли аура?</label> <br />
            Да <input type="radio" asp-for="Aura" value="true" class="aura-yes" onclick="addAuraDescription();" />
            Не <input type="radio" asp-for="Aura" value="false" class="aura-no" /> <br />
            <span asp-validation-for="Aura" class="text-danger"></span>
        </div>
        <div class="mb-3 aura-description">
            <span asp-validation-for="AuraDescriptionNotes" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Triggers">Опишете фактори, които са провокирали мигренозния пристъп:</label> <br />
            <textarea asp-for="Triggers" rows="5" cols="80" placeholder="Определени храни, напитки и др."></textarea> <br />
            <span asp-validation-for="Triggers" class="text-danger"></span>
        </div>
        <div class="mb-3" id="medication-usage">
            <label for="medication-usage">Употребихте ли медикамент(и)?</label> <br />
            Да <input type="radio" id="medication-usage-yes" name="medication-usage" value="yes" onclick="createAddButton();" oninvalid="this.setCustomValidity('Необходимо е да посочите използвахте ли медикамент(и).')">
            Не <input type="radio" id="medication-usage-no" name="medication-usage" value="no">
        </div>
        <div id="used-medications-container" class="mb-3"></div>
        <div id="add-medication-button" class="mb-3"></div>
        <input type="submit" class="btn btn-primary" value="Добави"/>
    </form>
</div>
<script src="~/js/addHeadache.js"></script>