@model SetRoleViewModel

@{
    ViewData["Title"] = "Set user role";
}
<header>
    <h3 class="text-center">Настрой роля</h3>
</header>
<main>
    <div class="set-role-container">
        <form asp-controller="Admin" asp-action="SetRole" method="post">
            <div class="set-role-flex-item text-center">
                <label for="user" class="mb-1">Потребител</label>
                <select class="form-select" asp-items="@Model.UsersDropdown" id="user" name="userId"></select>
            </div>
            <div class="set-role-flex-item text-center">
                <label for="role" class="mb-1">Роля</label>
                <select class="form-select" asp-items="@Model.RolesDropdown" id="role" name="roleId"></select>
            </div>
            <div class="set-role-flex-item text-center">
                <input type="submit" value="Добави в роля" class="btn btn-success" />
            </div>
        </form>
    </div>
</main>

